.gradient-border {
  --border-width: 7px;
  position: relative;
  /* background: #222; */
  background: #3c3c3c;
  border-radius: var(--border-width);
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    hsl(224, 70%, 24%),
    hsl(269, 70%, 24%),
    hsl(272, 100%, 50%),
    hsl(253, 82%, 47%),
    hsl(258, 83%, 35%),
    hsl(251, 98%, 44%),
    hsl(235, 90%, 55%),
    hsl(200, 94%, 31%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
